body {


    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.4;
    color: #111111;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
    text-decoration: underline !important;
    color: #111111 !important;
}

h1 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 23px
}

h2 {
    font-size: 27px;
    line-height: 38px;
    margin-bottom: 20px
}

h3 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 17px
}

h4 {
    font-size: 19px;
    line-height: 29px;
    margin-bottom: 14px
}

h5 {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 11px
}

h6 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 11px
}



a {
    text-decoration: none !important;
}

.blockquote {
    border: 1px solid #edeff2;
    background: #fff none repeat scroll 0 0;
    border-left: 4px solid #eceeef;
    font-size: 1.1rem;
    font-style: italic;
    margin-bottom: 1.5rem;
    border-radius: 0 !important;
    padding: 2rem;
}

.blog-title-area {
    display: block;
    position: relative;
    padding: 0;
    margin-bottom: 3rem;
    text-wrap: none;
    overflow: visible;



}
.breadcrumb {
    white-space: nowrap;
}

.blog-title-area .breadcrumb {
    float: none;
    text-align: center;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    white-space: nowrap;
}


.blog-title-area.text-center .breadcrumb {
    text-align: start;
    white-space: nowrap;

}

.blog-title-area .blog-meta a {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 2rem;

}

.blog-title-area .breadcrumb-item.active,
.blog-title-area .breadcrumb-item + .breadcrumb-item::before,
.blog-title-area .blog-meta small,
.blog-title-area a {
    color :#a3a5a8;

}

.blog-title-area span {
    margin: 0.5rem 0 ;
    display: block;


}

.spanbrand a {
    padding: 0 1rem;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 3px;
    color:white;

}

.editbrand a {
    padding: 0 1rem;
    background-color: transparent;
    background-image: none;
    border-radius: 3px;
    color:white;
}

.blog-title-area h3 {
    font-size: 41px;
    line-height: 50px;
    margin-bottom: 7px;
    margin-top: 0;
    overflow-wrap: break-word;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
.blog-meta h4 {
    padding: 1rem 0 0.5rem;
    margin: 0;
    font-size: 21px;

}

.blog-meta.big-meta {
    display: flex;
    flex-direction: row;
!important; justify-content: space-between;
    margin-top: 5px;
}
.blog-meta.big-meta h4 {
    padding: 1rem 0 0.6rem;
    margin: 0;
    font-size: 28px;

}

.blog-meta.big-meta p {
    margin-bottom: 0.5rem;
    padding-bottom: 0;
}

.blog-meta small {
    font-size: 11px;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 2px;
    color: #111111;
    text-transform: uppercase;
    margin-right: 0.3rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.blog-meta small:after {
    content: "/";
    padding-left: 1rem;
}

.blog-meta small:last-child:after {
    content: ""
}
section {
    padding: 1rem 0;
    display: block;
    position: relative;
    background-color: #ffffff;
}

.section.lb {
    background-color: #edeff2;
}

.section.lb .single-post-media {
    margin-bottom: 0;
}

.embed-responsive-item {
    padding: 0.4rem !important;
    display: block;
    background-color: #fff;
}

.first-section {
    padding: 0;
    border-bottom: 0;
}

.first-section .container-fluid {
    padding: 0 3px;
}

.section-title h3 {
    display: block;
    margin: 0 0 1.5rem;
    padding: 0;
    line-height: 1;
}

.section-title h3 a {
    border-radius: 3px;
    color: #fff !important;
    font-size: 16px;
    line-height: 1;
    padding: 0.1rem 1.3rem;
}

.lightbg {
    background-color: #f8e1f8;
}

.nopad {
    padding: 0 !important;
    margin: 0 !important;
}

.nopad img {
    width: 100%;
}

.item-h2,
.item-h1 {
    height: 100% !important;
    height: auto !important;
}

.center-side,
.left-side,
.right-side {
    float: left;
    width: 33.33333%;
}

.post-media img,
.masonry-box img {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.post-media:hover img,
.masonry-box:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.single-post-media {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}

.single-post-media img {
    width: 100%;
    height: 470px;
    aspect-ratio: 0.5;
    mix-blend-mode: multiply;
    display: flex;
    position: relative;
}
.pp {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

.pp .float-left {
    margin: 0 2rem 1rem -3rem;
}

.pp a {
    font-weight: bold;
    color: #007bff;
    line-height: 40px;
}

.pp p {
    margin-bottom: 13px;
      font-size: 0.9rem;
    line-height: 30px;
}

.tag-cloud-single span {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 3px;
    color: #ffffff;
    display: inline-block !important;
    margin-right: 0.5rem !important;
    padding: 0 1rem;

}
.tag-cloud-single a,
.comments-list .media-right,
.comments-list small {
    color: #999 !important;
    font-size: 11px;
    letter-spacing: 2px;
    margin-top: 5px;
    padding-left: 10px;
    text-transform: uppercase;
}
.custombox:last-of-type {

    position: relative;
    padding: 1.5rem 1rem;
    border: 1px dashed #dadada;
    margin-top: 3rem;
}


.custombox {
    position: relative;
    padding: 2rem 1rem 1rem;
    border: 1px dashed #dadada;
    margin-top: 3rem;
    border-radius: 15px;

}


.custombox p {
    font-size:13px;
}

.comments-list p {
    margin-bottom: 0;
    overflow: clip;
}

.comments-list .media {
    padding: 10px;
    margin-bottom: 1px;
}

.media-body .btn-primary {
    padding: 5px 15px !important;
    font-size: 8px !important;
}
.media-body {

    word-break: break-all;
}

.last-child {
    margin-bottom: 0 !important;
}
.comment-owner {
    max-width: 35px;
    margin-right: 10px;
    border-radius: 50%!important;
}


.comments-list img {
    max-width: 35px;
    margin-right: 10px;
}
.small-title {
    background: #edeff2 none repeat scroll 0 0;
    font-size: 16px;
    left: 5%;
    line-height: 1;
    margin: 0;
    padding: 0.6rem 1.5rem;
    position: absolute;
    text-align: center;
    top: -20px;
}

.sidebar .widget {
    position: relative;
    display: block;
    margin-bottom: 3rem;
}

.sidebar .banner-spot {
    background-image: none;
    padding: 5px;
}

.wb {
    background-color: #ffffff;
    border-top: 1px dashed #dadada;
}

.form-wrapper h4 {
    margin-bottom: 1.5rem;
}

.form-wrapper .form-control {
    background: #fff none repeat scroll 0 0;
    border: none;
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.3px;
    margin-bottom: 1.1rem;
    text-transform: none;
    text-align: start;
    align-items: start;
    overflow-wrap: break-word;


}
.form-control input {
    text-align: start;
    overflow-wrap: break-word;
}
.form-control:focus {
    border-color:rgba(100,100,100,1)!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}
.form-wrapper .btn i {
    padding-left: 0.5rem;
}


.sidebar {
    margin-left: 70px;
    background-clip: padding-box;
}
.sidebar .widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar .blog-list-widget img {
    width: 90px;
    padding: 0;
    max-width: 90px;

}

.sidebar .blog-list-widget .mb-1 {
    font-size: 15px;
    overflow-wrap: break-word;
}

.sidebar a {
    color: rgba(0, 0, 0, 0.6);

}

.sidebar .widget-title {
    display: block;
    font-size: 24px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0;
    line-height: 1;
    font-weight: 700;
}

.footer-text img {
    max-width: 290px;
}

.footer-text p {
    margin-bottom: 0;
    padding: 1rem 0 1.2rem;
}

.blog-list-widget img {
    background: #fff none repeat scroll 0 0;
    margin-right: 15px;
    max-width: 80px;
    padding: 4px;
}

.blog-list-widget .list-group-item {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: transparent;
}

.blog-list-widget .w-100 {
    margin-bottom: 1rem;
    display: block;
}

.blog-list-widget .w-100.last-item {
    margin-bottom: 0;
}

.blog-list-widget .mb-1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 0rem !important;
}

.blog-list-widget small {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.newsletter-widget h4 {
    font-size: 2.4rem;
    padding: 0;
    margin: 0 0 1.5rem;

}
.media-body h4 {
    font-size: 16px;
}
.newsletter-widget p {
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
    padding: 0;
    margin: 0 0 2rem;
}

.newsletter-widget .form-inline {
    display: block;
}

.newsletter-widget .form-inline .form-control {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #dbdde0;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    font-size: 14px;
    height: 56px;
    padding-left: 1.5rem;
    line-height: 1;
    letter-spacing: 0.3px;
    vertical-align: middle;
    width: 400px;
}

.card-block {
    -moz-box-flex: 1;
    background: #202020 none repeat scroll 0 0;
    padding: 1.25rem 3rem;
    border-radius: 0 !important;
}


.form-wrapper .newsletter-widget .form-inline .form-control::-webkit-input-placeholder {
    color: #a2abb1;
    opacity: 1;
}

.form-wrapper .form-control::-moz-placeholder {
    color: #a2abb1;
    opacity: 1;
}

.form-wrapper .form-control:-ms-input-placeholder {
    color: #a2abb1;
    opacity: 1;
}

.form-wrapper .form-control::placeholder {
    color: #a2abb1;
    opacity: 1;
}

.newsletter-widget .form-inline .form-control::-webkit-input-placeholder {
    color: #a2abb1;
    opacity: 1;
}

.newsletter-widget .form-inline .form-control::-moz-placeholder {
    color: #a2abb1;
    opacity: 1;
}

.newsletter-widget .form-inline .form-control:-ms-input-placeholder {
    color: #a2abb1;
    opacity: 1;
}

.newsletter-widget .form-inline .form-control::placeholder {
    color: #a2abb1;
    opacity: 1;
}

.newsletter-widget .btn {
    height: 54px;
    border-radius: 0;
    border: 0;
}

.newsletter-widget .btn i {
    padding-left: 0.5rem
}


.link-widget li {
    padding: 0.4rem 0.2rem 0.6rem;
    text-transform: capitalize;
    line-height: 1;
    font-weight: 500;
    position: relative;
    margin: 0;
    border-bottom: 1px dashed #dadada;
}

.link-widget li:last-child {
    border-bottom: 0 dashed #dadada;
}

.link-widget li span {
    position: absolute;
    right: 0;
}

.loader {

    margin: 20px auto 0;
    vertical-align: middle;
}

#preloader {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 11000;
    position: fixed;
    display: block
}
.edit a{
!important;background-color: transparent;
    color:red;
}
.preloader {
    position: absolute;
    margin: 0 auto;
    left: 1%;
    right: 1%;
    top: 47%;
    width: 65px;
    height: 65px;
    background: center center no-repeat none;
    background-size: 65px 65px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}

.hovereffect {
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    zoom: 1;
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);

}


.post-media img {
    aspect-ratio: 0.5;
    mix-blend-mode: multiply;
    object-fit: contain;
    width: 100%;
    height: 110px;

}
.blog-meta h4 a {
    color: #29323c;
    font-weight: 600;
    font-size: 20px;
    overflow-wrap: break-word;
    line-height: 0;
    word-spacing: -2px;
}

.comment-owner {
    display: flex;
    align-items: center;
    padding-left: 5px;
    white-space: nowrap;
    margin-top: 20px;

}
.owner-avatar {
    height: 40px;
    width: 40px;
    border-radius: 30px;
}
.comment-owner h4 {
    font-size: 16px;
    line-height: 29px;
    font-weight: 700;
    margin-bottom: 5px;
    display: inline-block;
    margin-left: 10px;
    white-space: nowrap;

}

.comment-owner small {
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.5px;
}
@media screen and (max-width: 700px) {
    .breadcrumb {
        font-size: 0.6rem;

    }
    .spanbrand a {
        font-size: 0.8rem;
    }
    .blog-title-area h3 {
        font-size: 1.6rem;
        line-height: 30px;
        margin-bottom: 7px;
        margin-top: 0;
        overflow-wrap: break-word;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;

    }
    .single-post-media img {
        width: 95%;
        height: auto;
        max-height: 250px;
        margin: auto;

    }
    .post-media-auth {
        margin-left: 10px;
        margin-bottom: 5px;
        white-space: nowrap;
    }
    .blog-meta small {
        font-size: 0.6rem;
    }
    .pp {
        padding-left: 3%;
        padding-right: 3%;
        margin-bottom: 10px;
        overflow-wrap: break-word;
    }
    .pp p {
        margin-bottom: 13px;
        font-size: 0.7rem;
        line-height: 23px;
    }
    .comment-owner {
        max-width: 30px;
        margin-right: 10px;
        border-radius: 50%!important;
        font-size: 1rem;
    }

    .owner-avatar {
        height: 30px;
        width: 30px;
        border-radius: 30px;
    }
    .comment-owner h4 {
        font-size: 0.8rem;
        line-height: 29px;
        padding-top: 5px;
        margin-left: 10px;


    }
   .comment-owner small {
        margin-left: 20px;
        font-size: 0.6rem;
        font-weight: 500;
        letter-spacing: 1.5px;
    }

    .comments-list img {
        max-width: 30px;
        margin-right: 10px;
    }
    .comments-list small {
        font-size: 0.5rem;
        letter-spacing: 1px;
    }
    .remove-comment {
        !important;font-size: 0.5rem;
    }
    .blog-title-area .blog-meta a {
        font-size: 0.5rem;

    }
    .tag-cloud-single span {

        margin-right: 0.5rem !important;
        padding: 0 1rem;
        font-size: 0.7rem;

    }
    .tag-cloud-single a,
    .comments-list .media-right,
    .comments-list small {
        font-size: 0.6rem;
    }
    .form-wrapper h4 {
        margin-bottom: 1.5rem;
    }

    .form-wrapper .form-control {
        font-size: 0.8rem;
        letter-spacing: 0.3px;
        margin-bottom: 0.5rem;



    }

}
